<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/leftDefault}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center my-5">
        	<div class="main-contents d-flex w-100">
        		<div class="w-25">
	                <nav class="main-menu">
	                    <ul class="nav flex-column">
	                        <li class="nav-item">
	                          <a class="nav-link text-dark font-weight-bold m-3" href="#">현재 진행중인 독서</a>
	                        </li>
	                        <li class="nav-item">
	                          <a class="nav-link text-dark font-weight-bold m-3" href="#">새로운 독서 계획하기</a>
	                        </li>
	                        <li class="nav-item">
	                          <a class="nav-link text-dark font-weight-bold m-3" href="#">독후감 작성하기</a>
	                        </li>
	                        <li class="nav-item">
	                          <a class="nav-link text-dark font-weight-bold m-3" href="#">독후감 갤러리</a>
	                        </li>
	                        <li class="nav-item">
	                       	  <a class="nav-link text-dark font-weight-bold m-3" href="#">알라딘 추천 도서 확인하기</a>
	                       	</li>
	                        <li class="nav-item">
	                       	  <a class="nav-link text-dark font-weight-bold m-3" href="#">나만의 독후감 갤러리</a>
	                       	</li>	                       	
	                        <li class="nav-item">
	                       	  <a class="nav-link text-dark font-weight-bold m-3" href="#">나의 지니</a>
	                       	</li>
	                        <li class="nav-item">
	                       	  <a class="nav-link text-dark font-weight-bold m-3" href="/user/logout">로그아웃</a>
	                       	</li>	                       	
	                      </ul>
	                </nav>
        		</div>
        		<div class="w-75">
        			<h3 class="ml-5">알라딘 도서 검색하기</h3>
        			<div class="d-flex justify-content-center mt-3">
        				<form method="get" action="/book/search-view" class="w-100 d-flex justify-content-center">
		                    <div class="input-group w-75">
			                    <input type="text" class="form-control" placeholder="책 이름을 입력하세요." aria-label="" aria-describedby="button-addon2" name="searchKeyword">
			                    <div class="input-group-append">
			                  		<button class="btn text-dark font-weight-bold btn-light searchBtn" type="submit" id="button-addon2">검색</button>
			                    </div>         	
		                    </div>      
	                    </form>   			
        			</div>
        			<div class="d-flex justify-content-center mt-2">
	       				<div class="search-box bg-light" id="searchResults">
	       					<div th:if="${searchBooks != null}">
	       						<div class="d-flex justify-content-between">
					            	<div th:each="searchBook : ${searchBooks}" class="m-3">
					            		<div class="book-contents">
					            			<div class="book-cover d-flex justify-content-center">
							                	<img th:src="${searchBook.cover}" class="img-fluid" alt="Cover image">					            			
					            			</div>
					            			<div class="mt-2">
								                <p class="book-title"><span th:text="${#strings.abbreviate(searchBook.title,20)}" class="font-weight-bold"></span></p>
								                <p class="book-author"><span th:text="${#strings.abbreviate(searchBook.author, 20)}" class="font-weight-bold"></span></p>						            			
					            			</div>			            		
					            		</div>
					                </div>       						
	       						</div>
	       					</div>
	       				</div>      			
        			</div>
        			<div>
        				<h4 class="ml-5 mt-5 mb-3">알라딘 추천 도서</h4>
        			</div>
        			<div class="d-flex justify-content-center mt-2">
	       				<div class="recommend-box bg-light">
	       					<div class="d-flex justify-content-between">
					            <div th:each="recommendBook : ${recommendBooks}" class="m-3">
					           		<div class="book-contents">
					           			<div class="book-cover d-flex justify-content-center">
							               	<img th:src="${recommendBook.cover}" class="img-fluid" alt="Cover image">					            			
					           			</div>
					           			<div class="book-data mt-2">
							                <p class="book-title"><span th:text="${#strings.abbreviate(recommendBook.title,20)}" class="font-weight-bold"></span></p>
							                <p class="book-author"><span th:text="${#strings.abbreviate(recommendBook.author, 20)}" class="font-weight-bold"></span></p>						            			
					           			</div>			            		
					           		</div>
					            </div>       						
	       					</div>       					
	       				</div>      			
        			</div>
        		</div>
        	</div>
        </section>
        
