<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/leftDefault}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center my-5">
        	<div class="main-contents d-flex w-100">
        		<div class="w-25">
	                <nav class="main-menu">
	                    <ul class="nav flex-column">
	                        <li class="nav-item">
	                          <a class="nav-link text-dark font-weight-bold m-3" href="#">현재 진행중인 독서</a>
	                        </li>
	                        <li class="nav-item">
	                          <a class="nav-link text-dark font-weight-bold m-3" href="#">새로운 독서 계획하기</a>
	                        </li>
	                        <li class="nav-item">
	                          <a class="nav-link text-dark font-weight-bold m-3" href="#">독후감 작성하기</a>
	                        </li>
	                        <li class="nav-item">
	                          <a class="nav-link text-dark font-weight-bold m-3" href="#">독후감 갤러리</a>
	                        </li>
	                        <li class="nav-item">
	                       	  <a class="nav-link text-dark font-weight-bold m-3" href="#">알라딘 추천 도서 확인하기</a>
	                       	</li>
	                        <li class="nav-item">
	                       	  <a class="nav-link text-dark font-weight-bold m-3" href="#">나만의 독후감 갤러리</a>
	                       	</li>	                       	
	                        <li class="nav-item">
	                       	  <a class="nav-link text-dark font-weight-bold m-3" href="#">나의 지니</a>
	                       	</li>
	                        <li class="nav-item">
	                       	  <a class="nav-link text-dark font-weight-bold m-3" href="/user/logout">로그아웃</a>
	                       	</li>	                       	
	                      </ul>
	                </nav>
        		</div>
        		<div class="w-75">
        			<h3 class="ml-5">알라딘 도서 검색하기</h3>
        			<div class="d-flex justify-content-center mt-3">
	                    <div class="input-group w-75">
	                        <input type="text" class="form-control" placeholder="책 이름을 입력하세요." aria-label="" aria-describedby="button-addon2" id="searchKeyword">
	                        <div class="input-group-append">
	                          <button class="btn text-dark font-weight-bold btn-light searchBtn" type="button" id="button-addon2">검색</button>
	                        </div>
	                    </div>         			
        			</div>
        			<div class="d-flex justify-content-center mt-2">
	       				<div class="search-box bg-light" id="searchResults">
	       					<div th:if="${books != null}">
								검색 결과 나열할 예정				
	       					</div>
	       				</div>      			
        			</div>
        			<div class="d-flex justify-content-center mt-2">
	       				<div class="recommend-box bg-light">
	       					
	       				</div>      			
        			</div>
        		</div>
        	</div>
        </section>
        
        <script layout:fragment="script">
        	$(document).ready(function(){
        		
				$(".searchBtn").on("click", function(){
					
					let searchKeyword = $("#searchKeyword").val();
					
					if(searchKeyword == ""){
						alert("검색어를 입력하세요.");
						return;
					}
					
					$.ajax({
						
						type: "post"
						, url: "/api/search"
						, data: {"searchKeyword":searchKeyword}
						, success:function(data){
							if(data.bookNotNull){
								alert("검색 완료!");
								
							}else{
								alert("검색 결과가 없습니다!");
							}
						}
						, error:function(){
							alert("검색 에러!!");
						}
						
					});
					
				});
        		
        	});
        	
        </script>