<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/middleDefault}">
        
    <section layout:fragment="contents" class="contents d-flex justify-content-center my-5">
        <div>
            <div class="login-box d-flex justify-content-center align-items-start bg-white">        
                <div class="w-100 p-5">
                    <form id="loginForm">
                    	아이디
                        <input type="text" class="form-control mt-3 mb-2" id="loginIdInput">
                        비밀번호
                        <input type="password" class="form-control mt-3 mb-4" id="passwordInput">
                        <div class="d-flex justify-content-center">	
                        	<button type="submit" class="btn btn-dark btn-block mt-5 w-50" id="loginBtn">로그인</button>
                        </div>                        
                    </form> 
                </div>
            </div>
            <div class="mt-4 p-3 d-flex justify-content-center align-items-start bg-white">
                계정이 없으신가요? <a href="/user/join-view">가입하기</a>
            </div>
        </div>
    </section>
    
    <script layout:fragment="script">
        $(document).ready(function() {
            $("#loginForm").on("submit", function(e) {

                e.preventDefault();
                
                let id = $("#loginIdInput").val();
                let password = $("#passwordInput").val();
                
                if(id == "") {
                    alert("아이디를 입력하세요");
                    return ;
                }
                
                if(password == "") {
                    alert("비밀번호를 입력하세요");
                    return ;
                }
                
                $.ajax({
                    type:"post"
                    , url:"/user/login"
                    , data:{"loginId":id, "password":password}
                    , success:function(data) {
                        
                        if(data.result == "success") {
                            location.href="/plan/progress-view"
                        } else {
                            alert("아이디와 비밀번호를 확인해 주세요");
                        }
                    }
                    , error:function() {
                        alert("로그인 에러!!");
                    }
                });
                
                
            });
        });
       
       </script>