@charset "UTF-8";

#wrap {
    width: 1600px;

    margin: 0 auto;
}

header {
    height: 200px;

}

.join-box {
	width: 800px;
}

.login-box {
	width: 600px;
}

.main-contents {
	width: 1500px;
	height: 1200px;
}

.main-menu {
	background-color: #F2E0F7;
	height: 900px;
}

.search-box {
	width: 1000px;
	height: 340px;
}

.book-contents {
	width: 200px;
	height: 330px;
}

.book-cover {
	width: 200px;
	height: 250px;
}

.book-title {
	font-size: 12px;
}

.book-author {
	font-size: 10px;
}

.book-page {
	font-size: 10px;
}

.book-description {
	word-break: keep-all;
}

.recommend-box {
	width: 1000px;
	height: 340px;
}

.pull {
	position:relative;
	margin: 50px;
	padding: 20px; 
	width: 450px;
	height: 250px; 
	color: #FFF; 
	border-radius: 10px; 
}
.pull:after {
	content:"";
	position: absolute;
	top: 21px;
	left: -30px;
	border-right: 30px solid #f8f9fa;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.date {
	width: 110px;
	height: 30px;
}

#progress-box {
	width: 375px;
	height: 225px;
}

#book-selection-box {
	width: 600px;
	height: 360px;
}

#book-search-href {
	width: 150px;
	height: 200px;
}

#desciption-box {
	width: 	400px;
	height: 200px;
}

#calendar {
	width: 600px;
	height: 500px;
}

footer {
    height: 70px;

}
