@charset "UTF-8";

#wrap {
    width: 1500px;

    margin: 0 auto;
}

header {
    height: 200px;

}

.join-box {
	width: 800px;
}

.login-box {
	width: 600px;
}

.main-contents {
	width: 1500px;
	height: 900px;
}

.main-menu {
	background-color: #F2E0F7;
	height: 900px;
}

.search-box {
	width: 1000px;
	height: 340px;
}

.book-contents {
	width: 200px;
	height: 330px;
}

.book-cover {
	width: 200px;
	height: 250px;
}

.book-title {
	font-size: 12px;
}

.book-author {
	font-size: 10px;
}

.recommend-box {
	width: 1000px;
	height: 340px;
}

footer {
    height: 70px;

}
